body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    padding: 10px;
    background-color: blue;
}


.display {
    width: 100%;
    height: 120px;
    background-color: white;

    display: flex;
    justify-content: end;
    align-items: end;

    font-size: 70px;
    
}

.text {
    margin-right: 10px;
}


button {
    font-size: 50px;
    width: 100px;
    height: 100px;
}


