body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    padding: 10px;
    background-color: blue;
}


.display {
    width: 100%;
    height: 120px;
    background-color: rgb(140, 140, 140);
    
}



button {
    font-size: 50px;
    width: 100px;
    height: 100px;
}

#four {
    text-align: end;
}
